<p-table [value]="tableArray" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}" [frozenColumns]="['column1', 'column2', 'column3']" [scrollable]="true" [scrollHeight]="'400px'" [style]="{'width':'100%'}">
  <ng-template pTemplate="header">
    <tr>
      <!-- <th>ID</th> -->
      <th pFrozenColumn>Fecha</th>
      <th pFrozenColumn>Pto Venta</th>
      <th pFrozenColumn>Num Comp</th>
      <th>Tipo Comp</th>
      <th>Cod Doc Vendedor</th>
      <th>Doc Vendedor</th>
      <th>Nombre Vendedor</th>
      <th>Importe Total</th>
      <th>Total No Grav</th>
      <th>Total Exento</th>
      <th>Perc Valor Agregado</th>
      <th>Perc Otros Imp Nac</th>
      <th>Perc IIBB</th>
      <th>Perc Muni</th>
      <th>Total Imp Internos</th>
      <th>Cod Moneda</th>
      <th>Tipo Cambio</th>
      <th>Cant Alicuotas</th>
      <th>Cod Operacion</th>
      <th>Credito Fisc Computable</th>
      <th>Otros Tributos</th>
      <!-- <th>Source File</th> -->
      <!-- <th>CUIT Emisor</th>
      <th>Denom Emisor</th>
      <th>IVA Comision</th> -->
      <th>Despacho Import</th>
      <th>Error Description</th>
      <th pFrozenColumn alignFrozen="right" [style]="{'width': '100px', 'text-align': 'center'}">Marcar</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr [ngClass]="{'selected-row': item.selected}">
      <td pFrozenColumn>
        <p-dropdown *ngIf="isObject(item.fecha); else simpleFecha"
                    [options]="item.fecha.options"
                    [(ngModel)]="item.fecha.selectedOption"
                    (onChange)="onSelectChange(item, 'fecha', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simpleFecha>{{item.fecha}}</ng-template>
      </td>
      <td pFrozenColumn>
        <p-dropdown *ngIf="isObject(item.ptoVenta); else simplePtoVenta"
                    [options]="item.ptoVenta.options"
                    [(ngModel)]="item.ptoVenta.selectedOption"
                    (onChange)="onSelectChange(item, 'ptoVenta', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simplePtoVenta>{{item.ptoVenta}}</ng-template>
      </td>
      <td pFrozenColumn>
        <p-dropdown *ngIf="isObject(item.numComp); else simpleNumComp"
                    [options]="item.numComp.options"
                    [(ngModel)]="item.numComp.selectedOption"
                    (onChange)="onSelectChange(item, 'numComp', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simpleNumComp>{{item.numComp}}</ng-template>
      </td>
      <td>
        <p-dropdown *ngIf="isObject(item.tipoComp); else simpleTipoComp"
                    [options]="item.tipoComp.options"
                    [(ngModel)]="item.tipoComp.selectedOption"
                    (onChange)="onSelectChange(item, 'tipoComp', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simpleTipoComp>{{item.tipoComp}}</ng-template>
      </td>
      <td>
        <p-dropdown *ngIf="isObject(item.codDocVendedor); else simpleCodDocVendedor"
                    [options]="item.codDocVendedor.options"
                    [(ngModel)]="item.codDocVendedor.selectedOption"
                    (onChange)="onSelectChange(item, 'codDocVendedor', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simpleCodDocVendedor>{{item.codDocVendedor}}</ng-template>
      </td>
      <td>
        <p-dropdown *ngIf="isObject(item.docVendedor); else simpleDocVendedor"
                    [options]="item.docVendedor.options"
                    [(ngModel)]="item.docVendedor.selectedOption"
                    (onChange)="onSelectChange(item, 'docVendedor', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simpleDocVendedor>{{item.docVendedor}}</ng-template>
      </td>
      <td [style]="{'width': '100px', 'text-align': 'left'}">
        <p-dropdown *ngIf="isObject(item.nombreVendedor); else simpleNombreVendedor"
                    [options]="item.nombreVendedor.options"
                    [(ngModel)]="item.nombreVendedor.selectedOption"
                    (onChange)="onSelectChange(item, 'nombreVendedor', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simpleNombreVendedor>{{item.nombreVendedor}}</ng-template>
      </td>
      <td>
        <p-dropdown *ngIf="isObject(item.importeTotal); else simpleImporteTotal"
                    [options]="item.importeTotal.options"
                    [(ngModel)]="item.importeTotal.selectedOption"
                    (onChange)="onSelectChange(item, 'importeTotal', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simpleImporteTotal>{{item.importeTotal}}</ng-template>
      </td>
      <td>
        <p-dropdown *ngIf="isObject(item.totalNoGrav); else simpleTotalNoGrav"
                    [options]="item.totalNoGrav.options"
                    [(ngModel)]="item.totalNoGrav.selectedOption"
                    (onChange)="onSelectChange(item, 'totalNoGrav', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simpleTotalNoGrav>{{item.totalNoGrav}}</ng-template>
      </td>
      <td>
        <p-dropdown *ngIf="isObject(item.totalExento); else simpleTotalExento"
                    [options]="item.totalExento.options"
                    [(ngModel)]="item.totalExento.selectedOption"
                    (onChange)="onSelectChange(item, 'totalExento', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simpleTotalExento>{{item.totalExento}}</ng-template>
      </td>
      <td>
        <p-dropdown *ngIf="isObject(item.percValorAgregado); else simplePercValorAgregado"
                    [options]="item.percValorAgregado.options"
                    [(ngModel)]="item.percValorAgregado.selectedOption"
                    (onChange)="onSelectChange(item, 'percValorAgregado', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simplePercValorAgregado>{{item.percValorAgregado}}</ng-template>
      </td>
      <td>
        <p-dropdown *ngIf="isObject(item.percOtrosImpNac); else simplePercOtrosImpNac"
                    [options]="item.percOtrosImpNac.options"
                    [(ngModel)]="item.percOtrosImpNac.selectedOption"
                    (onChange)="onSelectChange(item, 'percOtrosImpNac', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simplePercOtrosImpNac>{{item.percOtrosImpNac}}</ng-template>
      </td>
      <td>
        <p-dropdown *ngIf="isObject(item.percIIBB); else simplePercIIBB"
                    [options]="item.percIIBB.options"
                    [(ngModel)]="item.percIIBB.selectedOption"
                    (onChange)="onSelectChange(item, 'percIIBB', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simplePercIIBB>{{item.percIIBB}}</ng-template>
      </td>
      <td>
        <p-dropdown *ngIf="isObject(item.percMuni); else simplePercMuni"
                    [options]="item.percMuni.options"
                    [(ngModel)]="item.percMuni.selectedOption"
                    (onChange)="onSelectChange(item, 'percMuni', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simplePercMuni>{{item.percMuni}}</ng-template>
      </td>
      <td>
        <p-dropdown *ngIf="isObject(item.totalImpInternos); else simpleTotalImpInternos"
                    [options]="item.totalImpInternos.options"
                    [(ngModel)]="item.totalImpInternos.selectedOption"
                    (onChange)="onSelectChange(item, 'totalImpInternos', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simpleTotalImpInternos>{{item.totalImpInternos}}</ng-template>
      </td>
      <td>
        <p-dropdown *ngIf="isObject(item.codMoneda); else simpleCodMoneda"
                    [options]="item.codMoneda.options"
                    [(ngModel)]="item.codMoneda.selectedOption"
                    (onChange)="onSelectChange(item, 'codMoneda', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simpleCodMoneda>{{item.codMoneda}}</ng-template>
      </td>
      <td>
        <p-dropdown *ngIf="isObject(item.tipoCambio); else simpleTipoCambio"
                    [options]="item.tipoCambio.options"
                    [(ngModel)]="item.tipoCambio.selectedOption"
                    (onChange)="onSelectChange(item, 'tipoCambio', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simpleTipoCambio>{{item.tipoCambio}}</ng-template>
      </td>
      <td>
        <p-dropdown *ngIf="isObject(item.cantAlicuotas); else simpleCantAlicuotas"
                    [options]="item.cantAlicuotas.options"
                    [(ngModel)]="item.cantAlicuotas.selectedOption"
                    (onChange)="onSelectChange(item, 'cantAlicuotas', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simpleCantAlicuotas>{{item.cantAlicuotas}}</ng-template>
      </td>
      <td>
        <p-dropdown *ngIf="isObject(item.codOperacion); else simpleCodOperacion"
                    [options]="item.codOperacion.options"
                    [(ngModel)]="item.codOperacion.selectedOption"
                    (onChange)="onSelectChange(item, 'codOperacion', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simpleCodOperacion>{{item.codOperacion}}</ng-template>
      </td>
      <td>
        <p-dropdown *ngIf="isObject(item.creditoFiscComputable); else simpleCreditoFiscComputable"
                    [options]="item.creditoFiscComputable.options"
                    [(ngModel)]="item.creditoFiscComputable.selectedOption"
                    (onChange)="onSelectChange(item, 'creditoFiscComputable', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simpleCreditoFiscComputable>{{item.creditoFiscComputable}}</ng-template>
      </td>
      <td>
        <p-dropdown *ngIf="isObject(item.otrosTributos); else simpleOtrosTributos"
                    [options]="item.otrosTributos.options"
                    [(ngModel)]="item.otrosTributos.selectedOption"
                    (onChange)="onSelectChange(item, 'otrosTributos', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simpleOtrosTributos>{{item.otrosTributos}}</ng-template>
      </td>
      <td>
        <p-dropdown *ngIf="isObject(item.despachoImport); else simpleDespachoImport"
                    [options]="item.despachoImport.options"
                    [(ngModel)]="item.despachoImport.selectedOption"
                    (onChange)="onSelectChange(item, 'despachoImport', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simpleDespachoImport>{{item.despachoImport}}</ng-template>
      </td>
      <td>
        <p-dropdown *ngIf="isObject(item.errorDescription); else simpleErrorDescription"
                    [options]="item.errorDescription.options"
                    [(ngModel)]="item.errorDescription.selectedOption"
                    (onChange)="onSelectChange(item, 'errorDescription', $event)"
                    [style]="{'width':'100%'}">
        </p-dropdown>
        <ng-template #simpleErrorDescription>{{item.errorDescription}}</ng-template>
      </td>
      <td pFrozenColumn alignFrozen="right" [style]="{'width': '100px', 'text-align': 'center'}">
        <p-checkbox [(ngModel)]="item.selected" [binary]="true"></p-checkbox>
      </td>
    </tr>
  </ng-template>
</p-table>