<p-table [value]="tableArray" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}" [frozenColumns]="['column1', 'column2', 'column3']" [scrollable]="true" [scrollHeight]="'400px'" [style]="{'width':'100%'}">
  <ng-template pTemplate="header">
    <tr>
      <!-- <th>ID</th> -->
      <th pFrozenColumn>Fecha</th>
      <th pFrozenColumn>Pto Venta</th>
      <th pFrozenColumn>Num Comp</th>
      <th>Tipo Comp</th>
      <th>Cod Doc Vendedor</th>
      <th>Doc Vendedor</th>
      <th>Nombre Vendedor</th>
      <th>Importe Total</th>
      <th>Total No Grav</th>
      <th>Total Exento</th>
      <th>Perc Valor Agregado</th>
      <th>Perc Otros Imp Nac</th>
      <th>Perc IIBB</th>
      <th>Perc Muni</th>
      <th>Total Imp Internos</th>
      <th>Cod Moneda</th>
      <th>Tipo Cambio</th>
      <th>Cant Alicuotas</th>
      <th>Cod Operacion</th>
      <th>Credito Fisc Computable</th>
      <th>Otros Tributos</th>
      <!-- <th>Source File</th> -->
      <!-- <th>CUIT Emisor</th>
      <th>Denom Emisor</th>
      <th>IVA Comision</th> -->
      <th>Despacho Import</th>
      <th>Error Description</th>
      <th pFrozenColumn alignFrozen="right" [style]="{'width': '100px', 'text-align': 'center'}">Marcar</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr [ngClass]="{'selected-row': item.selected}">
      <!-- <td>
        <ng-container *ngIf="isObject(item.id); else simpleId">
          <select [(ngModel)]="item.id.selectedOption">
            <option *ngFor="let option of item.id.options" [ngValue]="option">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleId>{{item.id}}</ng-template>
      </td> -->
      <td pFrozenColumn>
        <ng-container *ngIf="isObject(item.fecha); else simpleFecha">
          <select (change)="onSelectChange(item, 'fecha', $event)">
            <option *ngFor="let option of item.fecha.options" [value]="option" [selected]="option === item.fecha.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleFecha>{{item.fecha}}</ng-template>
      </td>
      <td pFrozenColumn>
        <ng-container *ngIf="isObject(item.ptoVenta); else simplePtoVenta">
          <select (change)="onSelectChange(item, 'ptoVenta', $event)">
            <option *ngFor="let option of item.ptoVenta.options" [value]="option" [selected]="option === item.ptoVenta.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simplePtoVenta>{{item.ptoVenta}}</ng-template>
      </td>
      <td pFrozenColumn>
        <ng-container *ngIf="isObject(item.numComp); else simpleNumComp">
          <select (change)="onSelectChange(item, 'numComp', $event)">
            <option *ngFor="let option of item.numComp.options" [value]="option" [selected]="option === item.numComp.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleNumComp>{{item.numComp}}</ng-template>
      </td>
      <td>
        <ng-container *ngIf="isObject(item.tipoComp); else simpleTipoComp">
          <select (change)="onSelectChange(item, 'tipoComp', $event)">
            <option *ngFor="let option of item.tipoComp.options" [value]="option" [selected]="option === item.tipoComp.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleTipoComp>{{item.tipoComp}}</ng-template>
      </td>
      <td>
        <ng-container *ngIf="isObject(item.codDocVendedor); else simpleCodDocVendedor">
          <select (change)="onSelectChange(item, 'codDocVendedor', $event)">
            <option *ngFor="let option of item.codDocVendedor.options" [value]="option" [selected]="option === item.codDocVendedor.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleCodDocVendedor>{{item.codDocVendedor}}</ng-template>
      </td>
      <td>
        <ng-container *ngIf="isObject(item.docVendedor); else simpleDocVendedor">
          <select (change)="onSelectChange(item, 'docVendedor', $event)">
            <option *ngFor="let option of item.docVendedor.options" [value]="option" [selected]="option === item.docVendedor.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleDocVendedor>{{item.docVendedor}}</ng-template>
      </td>
      <td [style]="{'width': '100px', 'text-align': 'left'}">
        <ng-container *ngIf="isObject(item.nombreVendedor); else simpleNombreVendedor">
          <select (change)="onSelectChange(item, 'nombreVendedor', $event)">
            <option *ngFor="let option of item.nombreVendedor.options" [value]="option" [selected]="option === item.nombreVendedor.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleNombreVendedor>{{item.nombreVendedor}}</ng-template>
      </td>
      <td>
        <ng-container *ngIf="isObject(item.importeTotal); else simpleImporteTotal">
          <select (change)="onSelectChange(item, 'importeTotal', $event)">
            <option *ngFor="let option of item.importeTotal.options" [value]="option" [selected]="option === item.importeTotal.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleImporteTotal>{{item.importeTotal}}</ng-template>
      </td>
      <td>
        <ng-container *ngIf="isObject(item.totalNoGrav); else simpleTotalNoGrav">
          <select (change)="onSelectChange(item, 'totalNoGrav', $event)">
            <option *ngFor="let option of item.totalNoGrav.options" [value]="option" [selected]="option === item.totalNoGrav.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleTotalNoGrav>{{item.totalNoGrav}}</ng-template>
      </td>
      <td>
        <ng-container *ngIf="isObject(item.totalExento); else simpleTotalExento">
          <select (change)="onSelectChange(item, 'totalExento', $event)">
            <option *ngFor="let option of item.totalExento.options" [value]="option" [selected]="option === item.totalExento.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleTotalExento>{{item.totalExento}}</ng-template>
      </td>
      <td>
        <ng-container *ngIf="isObject(item.percValorAgregado); else simplePercValorAgregado">
          <select (change)="onSelectChange(item, 'percValorAgregado', $event)">
            <option *ngFor="let option of item.percValorAgregado.options" [value]="option" [selected]="option === item.percValorAgregado.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simplePercValorAgregado>{{item.percValorAgregado}}</ng-template>
      </td>
      <td>
        <ng-container *ngIf="isObject(item.percOtrosImpNac); else simplePercOtrosImpNac">
          <select (change)="onSelectChange(item, 'percOtrosImpNac', $event)">
            <option *ngFor="let option of item.percOtrosImpNac.options" [value]="option" [selected]="option === item.percOtrosImpNac.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simplePercOtrosImpNac>{{item.percOtrosImpNac}}</ng-template>
      </td>
      <td>
        <ng-container *ngIf="isObject(item.percIIBB); else simplePercIIBB">
          <select (change)="onSelectChange(item, 'percIIBB', $event)">
            <option *ngFor="let option of item.percIIBB.options" [value]="option" [selected]="option === item.percIIBB.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simplePercIIBB>{{item.percIIBB}}</ng-template>
      </td>
      <td>
        <ng-container *ngIf="isObject(item.percMuni); else simplePercMuni">
          <select (change)="onSelectChange(item, 'percMuni', $event)">
            <option *ngFor="let option of item.percMuni.options" [value]="option" [selected]="option === item.percMuni.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simplePercMuni>{{item.percMuni}}</ng-template>
      </td>
      <td>
        <ng-container *ngIf="isObject(item.totalImpInternos); else simpleTotalImpInternos">
          <select (change)="onSelectChange(item, 'totalImpInternos', $event)">
            <option *ngFor="let option of item.totalImpInternos.options" [value]="option" [selected]="option === item.totalImpInternos.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleTotalImpInternos>{{item.totalImpInternos}}</ng-template>
      </td>
      <td>
        <ng-container *ngIf="isObject(item.codMoneda); else simpleCodMoneda">
          <select (change)="onSelectChange(item, 'codMoneda', $event)">
            <option *ngFor="let option of item.codMoneda.options" [value]="option" [selected]="option === item.codMoneda.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleCodMoneda>{{item.codMoneda}}</ng-template>
      </td>
      <td>
        <ng-container *ngIf="isObject(item.tipoCambio); else simpleTipoCambio">
          <select (change)="onSelectChange(item, 'tipoCambio', $event)">
            <option *ngFor="let option of item.tipoCambio.options" [value]="option" [selected]="option === item.tipoCambio.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleTipoCambio>{{item.tipoCambio}}</ng-template>
      </td>
      <td>
        <ng-container *ngIf="isObject(item.cantAlicuotas); else simpleCantAlicuotas">
          <select (change)="onSelectChange(item, 'cantAlicuotas', $event)">
            <option *ngFor="let option of item.cantAlicuotas.options" [value]="option" [selected]="option === item.cantAlicuotas.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleCantAlicuotas>{{item.cantAlicuotas}}</ng-template>
      </td>
      <td>
        <ng-container *ngIf="isObject(item.codOperacion); else simpleCodOperacion">
          <select (change)="onSelectChange(item, 'codOperacion', $event)">
            <option *ngFor="let option of item.codOperacion.options" [value]="option" [selected]="option === item.codOperacion.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleCodOperacion>{{item.codOperacion}}</ng-template>
      </td>
      <td>
        <ng-container *ngIf="isObject(item.creditoFiscComputable); else simpleCreditoFiscComputable">
          <select (change)="onSelectChange(item, 'creditoFiscComputable', $event)">
            <option *ngFor="let option of item.creditoFiscComputable.options" [value]="option" [selected]="option === item.creditoFiscComputable.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleCreditoFiscComputable>{{item.creditoFiscComputable}}</ng-template>
      </td>
      <td>
        <ng-container *ngIf="isObject(item.otrosTributos); else simpleOtrosTributos">
          <select (change)="onSelectChange(item, 'otrosTributos', $event)">
            <option *ngFor="let option of item.otrosTributos.options" [value]="option" [selected]="option === item.otrosTributos.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleOtrosTributos>{{item.otrosTributos}}</ng-template>
      </td>
      <!-- <td>
        <ng-container *ngIf="isObject(item.sourceFile); else simpleSourceFile">
          <select [(ngModel)]="item.sourceFile.selectedOption">
            <option *ngFor="let option of item.sourceFile.options" [ngValue]="option">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleSourceFile>{{item.sourceFile}}</ng-template>
      </td> -->
      <td>
        <ng-container *ngIf="isObject(item.despachoImport); else simpleDespachoImport">
          <select (change)="onSelectChange(item, 'despachoImport', $event)">
            <option *ngFor="let option of item.despachoImport.options" [value]="option" [selected]="option === item.despachoImport.selectedOption">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleDespachoImport>{{item.despachoImport}}</ng-template>
      </td>
      <td>
        <ng-container *ngIf="isObject(item.errorDescription); else simpleErrorDescription">
          <select [(ngModel)]="item.errorDescription.selectedOption">
            <option *ngFor="let option of item.errorDescription.options" [ngValue]="option">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleErrorDescription>{{item.errorDescription}}</ng-template>
      </td>
      <!-- <td>
        <ng-container *ngIf="isObject(item.cuitEmisor); else simpleCuitEmisor">
          <select [(ngModel)]="item.cuitEmisor.selectedOption">
            <option *ngFor="let option of item.cuitEmisor.options" [ngValue]="option">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleCuitEmisor>{{item.cuitEmisor}}</ng-template>
      </td>
      <td>
        <ng-container *ngIf="isObject(item.denomEmisor); else simpleDenomEmisor">
          <select [(ngModel)]="item.denomEmisor.selectedOption">
            <option *ngFor="let option of item.denomEmisor.options" [ngValue]="option">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleDenomEmisor>{{item.denomEmisor}}</ng-template>
      </td> -->
      <!-- <td>
        <ng-container *ngIf="isObject(item.ivacomision); else simpleIvaComision">
          <select [(ngModel)]="item.ivacomision.selectedOption">
            <option *ngFor="let option of item.ivacomision.options" [ngValue]="option">{{option}}</option>
          </select>
        </ng-container>
        <ng-template #simpleIvaComision>{{item.ivacomision}}</ng-template>
      </td> -->
      <!-- <td><p-checkbox [(ngModel)]="item.selected" (onChange)="onRowSelect(item)"></p-checkbox></td> -->
      <td pFrozenColumn alignFrozen="right" [style]="{'width': '100px', 'text-align': 'center'}">
        <p-checkbox [(ngModel)]="item.selected" [binary]="true"></p-checkbox>
      </td>
      
    </tr>
  </ng-template>
</p-table>