<h1>SCFC</h1>
<h2>Sistema comparador de facturas de compra</h2>
<div class="card flex justify-content-center">
  <!-- <h2>Seleccione el primer archivo</h2> -->
  <app-files-upload></app-files-upload>
</div>
<div class="card flex justify-content-center">
  <!-- <h2>Seleccione el primer archivo</h2> -->
  <app-differences-table></app-differences-table>
</div>
<!-- <div class="card flex justify-content-center">
  <h2>Seleccione el segundo archivo</h2>
  <app-files-upload></app-files-upload>
</div> -->
